<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<% if (typeof css != 'undefined') {
	for (var i = 0, l = css.length; i < l; i++) { %>
	<link rel="stylesheet" href="<%= css[i] %>">
	<% } } %>

	<% if (typeof mobile != 'undefined' && mobile) { %>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<script src="contents/js/setHtmlRootSize.js"></script>
	<% } %>
</head>